<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Index page</title>
</head>
<body>
<h1 style="text-align: center">Welcome to {{capitalise site_name}}</h1>
<hr/>
<p>This is a paragraph</p>
{{>footer}}
</body>
</html>